*{
    margin:0;
    padding:0;
    background-color:#0f0617;
    text-decoration: none;
    /* overflow-x:hidden */
}
html,body{
    height:auto;
    width:100%;
}
#Navcontent{
    height:9vh;
    width:95vw;
    background-color: #0f0617;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    /* border:2px solid rgb(76, 22, 177); */
}

#Navcontent>div{
    /* border: 2px solid green; */
}

#Navcontent>div:nth-child(2){
    /* border: 2px solid violet; */
    font-size: 1.8vh;
    position: absolute;
    align-items: center;
    margin-left: 13vh;
    margin-top:0.6vw;
}
/* #Navcontent>div:nth-child(3){
    border: 2px solid violet;
    display: flex;
    font-size: 14px;
}
#Navcontent>div:nth-child(3){
    border: 2px solid violet;
    display: flex;
    justify-content: space-evenly;
    align-items: right;
    font-size: 14px;
    margin-right: 30px; 
} */
 #leftnav{
    display:flex ;
    justify-content: space-evenly;
 }
 #rightnav{
    display: flex;
    align-items: center;
 }
 #navsearch{
    display: flex;
 }
#searchicon{
    position:relative;
}
#searchbar{
    position:absolute;
}

#zee5logo>img{
    background-color: black;
    margin-left:4.5vh;
    width: 6vh;
    height:3.19vw;
    /* border:2px solid red; */
}
.menu{
    box-sizing: border-box;
    height:2.6vh;
    width:4.8vw;
    position: static;
    display:inline;
    color:white;
    margin-top:2.6vh;
    margin-left:5.2vh;
    padding:0;
    /* border:2px solid red; */
}
#crownlogo{
    color:white; 
    background-color:#8232c6;
    height:2.09vh;
    width:2.09vw;
    /* border:2px solid red; */
}
#navsearch{
    color:white; 
    background-color:#0f0617; 
    height:2.87vh;
    width:1.5vw;
    background-color:#0f0617;
    align-items: center;
     border:2px solid red;
}
/* #searchicon{
    color:white; 
    background-color:#0f0617; 
    height:40px;
    width:22px;
    background-color:#0f0617;
    align-items: center;
     /* border:2px solid red; */    
#searchbar{
    width:41.5vh;
    height:2.6vw;
    border: 1px solid white;
    border-radius:10px;
    /* align-items: center; */
    margin-right:-65vh;
}
#bars{
    color:white; 
    background-color:black;
    height:32px;
    width:32px;
}
#lang{
    height:4.18vh;
    width:4.18vw;
    color:white;
    background-color:#8232c6;
    border:1px solid white;
}
#login{
    height:4.5vh;
    width:4.5vw;
    color:white;
    background-color:#8232c6;
}
#buyplan{
    background-color: #8232c6;
    height:4.8vh;
    width:7.3vw; 
    display: inline;
    padding: 0,18px;
    border-radius: 10%;
} 
/* <body> */
#fullrow1{
    height:auto;
    width:100%;
}
#img1{
    height:62vh;
    width:90%;
    align-items: center;
    margin-top:10vh;
}
.row1{
    height:43vh;
    width:14vw;
    margin-left: 5px;
}
#Row1{
    margin-left:35px;
    height:auto;
    width:100%;
}
#trending{
    color:#FFFFFF; 
    background-color:#0f0617;
    font-size: 21px;
    font-family: sans-serif;
    font-weight: 500;
    margin-left:35px;
}
#Row2{
    margin-left:35px;
}
#Row3{
    margin-left:35px;
}
#Row4{
    margin-left:35px;
}
.row2{
    height:42vh;
    width:14vw;
    margin-left:25px;
    margin-left: 10px;
}
#loved{
    color:#FFFFFF; 
    background-color:#0f0617;
    font-size: 21px;
    font-family: sans-serif;
    font-weight: 500;
    margin-left:43px;
}
.row3{
    height:18vh;
    width:17vw;
    margin-left:25px;
    margin-left: 10px;
}
#latest{
    color:#FFFFFF; 
    background-color:#0f0617;
    font-size: 21px;
    font-family: sans-serif;
    font-weight: 500;
    margin-left:43px;
}
.row4{
    height:18vh;
    width:17vw;
    margin-left:25px;
    margin-left: 10px;
}
#explore{
    color:#FFFFFF; 
    background-color:#0f0617;
    font-size: 21px;
    font-family: sans-serif;
    font-weight: 500;
    margin-left:43px;
}
.row5{
    height:30vh;
    width:10vw;
    margin-left:-11vh;

}
.crimenumbers{
    color:white;
    height:7vh;
    width:10vw;
    font-size:19vh;
    font-weight: 1000;
    margin-top: 30%;
    color:#939094;
}
#crime{
    color:#FFFFFF; 
    background-color:#0f0617;
    font-size: 21px;
    font-family: sans-serif;
    font-weight: 500;
    margin-left:5vh;
    box-shadow: 10%;
}
.row6{
    height:14vh;
    width:7vw;
    border-radius: 50%;
    margin-left:3.2vh;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
}
#spotlight{
    color:#FFFFFF; 
    background-color:#0f0617;
    font-size: 2.7vh;
    font-family: sans-serif;
    font-weight: 500;
    margin-left:50px;
}
#highlights{
    margin-left:3%;
    height:40vh;
    width:91vw;
}
#poster{
    height:40vh;
    width:91vw; 
    margin-left:35px;  
}
#spot{
    color: #FFFFFF;
    display:flex;
    text-align: center;
    margin-left:35px;
}
.genre{
    height:18vh;
    width:17vw;
}
#genre{
    color: #FFFFFF;
    font-size: 21px;
    font-family: sans-serif;
    font-weight: 500;
    margin-left: 35px;
}
#Genre{
    margin-left:55px;
    justify-content: space-evenly;
}
#crimeimg{
    display:flex;
    justify-content: space-between;
}
.num6{
    display: flex;
    padding:0;
}


 /* <footer> */
 .table{
    height:63vh;
    width:87vw;
    margin:103px;
    padding:40px,0,0;
    column-gap: 90px;
    color:#D9D9D980;
    text-align:left;
    padding-right:40px;
    background-clip:padding-box;
    font:12px NotoSansRegular, sans-serif;
 }
 .tableHeader{
    color:#FFFFFF;
 }
 td:hover{color:#A785FF};
 .p{
    color:#D9D9D980;
 }
.upperFooter{
    border:2px solid green;
    color:#FFFFFFb2;
    margin-left:103px;
    font:12px NotoSansRegular, sans-serif;
    text-align:center;
    display: flex;
}
.upperFooter:hover{color:#A785FF}
#foot2{
    display:flex;
    padding:0;
}
#footer>div{
    margin-top:20px;
    display:flex;
}
#channel,#about{   
    width:52px;
    height:18px;
}
#help{   
    width:6vh;
    height:1.25vw;
}
#privacy,#terms{   
    width:70px;
    height:18px;
}